---
templateEngineOverride: false
title: Render Some Data
description:
 We'll need some data for our template, in this case we'll use the [REST](/elements/rest)
 element to fetch some time data and make it available under the key 'time'. Then we can
 use the Template element to render it with a template that uses Mustache syntax. Note
 that we need to use the same value for the key ('time').
---
<script type="edgeside/rest"
  data-edgeside-key="time"
  data-edgeside-endpoint="http://worldtimeapi.org/api/timezone/Europe/London"
></script>

<script type="edgeside/template"
  data-edgeside-key="time">
  <h2> In London it is {{datetime}}</h2>
</script>
